---
import Layout from "@/layouts/Layout.astro";
import PaginationStatic from "@/components/Pagination/PaginationStatic.astro";
import PostCard from "@/components/PostCard/PostCard.astro";
import { getTagPageData } from "@/lib/getTagPageData";
import { getAllTags } from "@/lib/getAllTags";

export async function getStaticPaths() {
    const tags = await getAllTags();

    const paths = [];

    for (const tag of tags) {
        if (!tag.slug) continue;

        const { posts, totalPages } = await getTagPageData(tag.slug, 1);

        for (let i = 2; i <= totalPages; i++) {
            paths.push({
                params: { slug: tag.slug, page: String(i) },
            });
        }
    }

    return paths;
}

const { slug, page } = Astro.params;
const currentPage = Number(page);
const { posts, totalPages } = await getTagPageData(slug!, currentPage);
---

<Layout title={`Categoría: ${slug} - Página ${currentPage}`}>
    <section class="pt-24 pb-24 px-4 bg-[#E1E7EF]">
        <h1 class="text-3xl font-bold mb-6">
            Categoría: {slug} (Página {currentPage})
        </h1>

        {
            posts.length === 0 ? (
                <p class="text-gray-500">No hay posts en esta categoría.</p>
            ) : (
                <ul class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
                    {posts.map((post, index) => (
                        <li class="bg-white rounded-lg shadow hover:shadow-lg transition">
                            <PostCard
                                post={post}
                                index={index}
                                hasCategories={true}
                                hasTags={true}
                            />
                        </li>
                    ))}
                </ul>
            )
        }

        <PaginationStatic
            basePath={`blog/tag/${slug}`}
            currentPage={currentPage}
            totalPages={totalPages}
        />
    </section>
</Layout>
