---
import { cn } from "@/utils/ui";
import type {
    ListContentBlock as ListContentBlockProps,
    Media,
} from "@/lib/payloadTypes";
import RichText from "@/components/RichText.astro";
import AstroImage from "@/components/image/AstroImage.astro";
import { Separator } from "@/components/Separator/Separator";

const {
    enableBackgroundImage,
    enableImage,
    enableSubTitle,
    enableTitle,
    fieldImage,
    separatorType,
    sectionName,
    subTitle,
    title,
    blocks,
    isReverse,
    bottom,
} = Astro.props as ListContentBlockProps;

const mediaData =
    fieldImage && typeof fieldImage === "object" ? (fieldImage as Media) : null;
const { alt, url, width, height, mimeType } = mediaData || {};
---

<section
    class={cn(
        "relative pb-40 pt-40",
        enableBackgroundImage ? "bg-section" : "",
        `${sectionName}`,
    )}
>
    <div class={"wrapper m-auto"}>
        {enableTitle && title ? <h2 class={cn("text-center")}>{title}</h2> : ""}
        {
            enableSubTitle && subTitle ? (
                <RichText
                    content={subTitle}
                    className="max-w-[60ch] pb-8 pt-4 text-center"
                />
            ) : (
                ""
            )
        }
        <div
            class={`${sectionName}-box mt-[-7rem] gap-8 md:my-0 md:grid md:grid-cols-[5rem_15rem_1fr] md:grid-rows-[1fr] md:gap-0 md:pb-36`}
        >
            {
                enableImage && fieldImage ? (
                    <AstroImage
                        src={url!}
                        width={width!}
                        height={height!}
                        alt={alt!}
                        mimeType={mimeType!}
                        className={`${sectionName}-image md:border-primary md:relative md:col-[1/3] md:row-[1/1]  md:self-center md:rounded-xl md:border-4 md:bg-white block !w-1/2 `}
                    />
                ) : (
                    ""
                )
            }
            <div
                class={`${sectionName}-list-box p-4 md:col-[2/-1] md:row-[1/1] md:rounded-xl`}
            >
                <ul
                    class={`${sectionName}-list grid grid-cols-[repeat(auto-fit,minmax(350px,1fr))] grid-rows-[repeat(7,13rem)] gap-4 md:grid-rows-[1fr]`}
                >
                    {
                        blocks &&
                            blocks.length > 0 &&
                            blocks.map((block) => {
                                const {
                                    richText,
                                    enableRichText,
                                    enableFiledTitle,
                                    enableIcon,
                                    media,
                                    fieldTitle,
                                    color,
                                } = block;
                                const mediaData =
                                    media && typeof media === "object"
                                        ? (media as Media)
                                        : null;
                                const { alt, url, width, height, mimeType } =
                                    mediaData || {};

                                const bgColor =
                                    color === "green"
                                        ? "bg-primary"
                                        : color === "red"
                                          ? "bg-red-light"
                                          : color === "yellow"
                                            ? "bg-yellow-neutral"
                                            : "bg-transparent";

                                return (
                                    <li
                                        class={cn(
                                            bgColor,
                                            "grid grid-cols-[auto_1fr] rounded-sm" +
                                                ` ${enableFiledTitle ? "grid-rows-[auto_auto]" : ""} items-center gap-4 p-4`,
                                        )}
                                    >
                                        {enableIcon && media ? (
                                            <AstroImage
                                                src={url!}
                                                width={width!}
                                                height={height!}
                                                alt={alt!}
                                                className="w-[40px]"
                                                mimeType={mimeType!}
                                            />
                                        ) : (
                                            ""
                                        )}

                                        {enableFiledTitle && fieldTitle ? (
                                            <p class="bg-[#f5f5f5] p-2 text-center font-bold">
                                                {fieldTitle}
                                            </p>
                                        ) : (
                                            ""
                                        )}

                                        <div
                                            class={`${enableFiledTitle ? "col-span-full" : ""} `}
                                        >
                                            {richText && enableRichText ? (
                                                <RichText content={richText} />
                                            ) : (
                                                ""
                                            )}
                                        </div>
                                    </li>
                                );
                            })
                    }
                </ul>
            </div>
        </div>
    </div>
    <Separator
        type={separatorType || "separatorWhite"}
        reverse={isReverse}
        style={{ bottom: `${bottom}px` }}
    />
</section>
